<h2>Upload a File</h2>

<% if flash[:notice] %>
  <p>Total gross revenue from these purchases: $<%= "%.2f" % flash[:notice] %></p>
<% end %>

<form action="<%= purchases_path %>" method="post" enctype="multipart/form-data">
	<p><input type="file" name="file" /></p>
  <p><input type="submit" name="Submit" /></p>
</form>